[submodule "client"]
	path = client
	url = https://github.com/darkforest-eth/client
[submodule "eth"]
	path = eth
	url = https://github.com/darkforest-eth/eth
[submodule "circuits"]
	path = circuits
	url = https://github.com/darkforest-eth/circuits.git
[submodule "packages"]
	path = packages
	url = https://github.com/darkforest-eth/packages
